.navbar {
  background-color: black;
}
h2 {
  text-align: center;
}
.carousel-item {
  height: 400px;
}
.card-title {
  font-family: 'Raleway', sans-serif;
}
.card {
   margin-left:auto;
   margin-right:auto;
   display:block;
   background-color: darkgray;
}
body {
  background-color: black;
}
.img-thumbnail {
  margin-bottom: 10px;
}
#bottom-page {
  color: gray;
  border-bottom: .5px solid #343a40;
  border-top: .5px solid #343a40;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
.footer-link {
  color: gray;
}
#slideshow-carousel {
  padding-top: 50px;
  height: 500px;
}
.carousel-text{
  font-family: 'Raleway', sans-serif;
}
.img-description {
  max-width: 80%;
  max-height: 80%;
  align-items: left;
}
.img-description2 {
  max-width: 80%;
  max-height: 80%;
  align-items: right;
}
.h5-description {
  text-align: left;
  text-decoration: underline;
  color: lightgray;
  font-family: 'Roboto', sans-serif;
}
.h6-description {
  text-align: left;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.container-trip-pages {
  padding: 20px 20px 20px 20px;
}
.display-4 {
  font-size: 36px;
}
.lead {
  font-size: 24px;
  font-style: italic;
}
#col1 {
  margin-left: 0px;
  padding-left: 20px;
}
#col2 {
  margin-left: 0px;
  padding-left: 20px;
}
#col3 {
  margin-left: 0px;
  padding-right: 40px;
}
#col4 {
  margin-left: 0px;
  padding-right: 40px;
}
#about {
  background-image: url(about4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#about-row {
  color:lightgray;
  background-color: #414a52;
  min-height:150px;
  padding-left: 100px;
  padding-right: 80px;
  padding-top: 15px;
}
#about-row2 {
  color: black;
  background-color: lightgray;
  min-height:150px;
  padding-left: 100px;
  padding-right: 80px;
  padding-top: 15px;
}
.about-link {
  color: lightgray;
}
.about-link2 {
  color: black;
}
